[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "third_party/libxml++"]
	path = third_party/libxml++
	url = https://github.com/libxmlplusplus/libxmlplusplus.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml.git
