{# SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-SCE-Linking-Exception OR LicenseRef-SCE-Commercial #}
{# SPDX-FileCopyrightText: Copyright (c) 2025 newmassrael #}

// elseif is handled by if.jinja2
